@media only screen and (min-width: 320px) {
  body {
    background-color: #f6f6f6;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  }
  h1 {
    font-family: "Arvo", serif;
    font-size: 40px;
    margin: 0;
    padding: 0;
  }
  h1 a {
    text-decoration: none;
    font-style: italic;
  }
  h3 {
    font-family: "PT Serif", serif;
  }
  #intro {
    height: 100vh;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #cedfd9;
  }
  #mainBox {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  #mainBox h3 {
    font-size: 25px;
    padding-top: 20px;
    margin: 0;
  }
  #countdownClock {
    background-color: #ecaf14;
    color: #252422;
    border-radius: 50%;
    padding: 2%;
  }
  #wordsField {
    width: 80vw;
    height: 40vh;
    padding: 15px 10px;
    border: 0.5px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 20px grey;
  }
  #wordsField h2,
  #wordsField p {
    margin: 0;
  }
  p {
    font-family: "PT Serif", serif;
    font-size: 30px;
    line-height: 42px;
    overflow: hidden;
  }
  #inputField,
  #playAgain {
    font-size: 25px;
    width: inherit;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
  }
  #playAgain {
    font-size: 25px;
    text-align: center;
  }
  #playAgain a {
    color: black;
    text-decoration: none;
  }
  #bottomHalf {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #cedfd9;
  }

  #faq {
    /* background-color: #d9dcd6; */
    color: black;
    width: 100%;
    height: auto;
  }

  #faq h3,
  #bottomLeft h3 {
    font-size: 30px;
    text-align: center;
  }
  #faq ol li,
  #bottomLeft ul li {
    font-family: "Arvo", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    list-style-type: decimal;
    padding: 5px;
  }
  #faq ol p,
  #bottomLeft p {
    font-family: "PT Serif", serif;
    font-size: 18px;
    margin: 0;
    padding: 5px;
  }
  #faq a {
    color: black;
  }
  #faq a:hover {
    color: #028090;
  }
  footer {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 20px;
  }
  footer #links {
    display: flex;
    flex-direction: row;
  }
  footer p {
    font-size: 20px;
    border-bottom: 3px solid #ecaf14;
  }
  footer p a {
    color: black;
    text-decoration: none;
    padding: 0 10px;
  }
  footer p a:hover {
    color: #008f6b;
  }
  .newLetter {
    color: #dcfffd;
  }
  .hide {
    display: none;
  }
  .show {
    display: block;
  }
  .container {
    width: 95%;
    overflow: hidden;
  }
  .test {
    background-color: pink;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 65px;

    font-style: italic;
  }

  #bottomHalf {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2%;
    height: inherit;
  }
  #bottomLeft,
  #bottomRight {
    width: 50vw;
  }
}

/* Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {
}

 Extra large devices (large laptops and desktops, 1200px and up) 
@media only screen and (min-width: 1200px) {
}
*/
