body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
#introDiv {
    background-color: #00100B;   
    height: 60vh;
}
#title {
    padding: 20px 0 0 10px;
}
h1 {
    margin-bottom: 5px;
    font-family: 'Arvo', serif;
    font-style: italic;
    font-weight: 700;
    font-size: 70px;
    width: 100%;
}

h1 a {
    color: #78ffd6;
    text-decoration: underline;
}
h2 {
    color: #e4c1f9;
    font-family: 'Arvo', serif;
    font-size: 27px;
    margin: 0;
    padding-left: 25px;
}
#mainBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    
}
#mainP {
    font-family: 'Lato', sans-serif;
    font-size: 27px;
    line-height: 35px;
    color: white;
    width: 60%;
    text-align: center;
}
#startBtn {
    font-size: 22px;
    border-radius: 10px;
    border: 2px solid black;
    padding: 15px;
    margin: 0 auto;
}

#bottomHalf {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#faq {
    background-color: #E4C1F9;
    width: 50vw;
    height: 50vh;
}
#howScoreWorks {
    background-color:#FFD166;
    width: 50vw;
    height: 50vh;
}
.hide {
    display: none;
}
/*
#box {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: center;
    font-size: 34px;
    margin: auto;
    height: 90%;
    width: 70%;
    background-color: rgba(208, 205, 215, 0.5);
}

#testBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-top: 0;
    overflow: hidden;
    line-height: 40px;
    padding: 0 10px 0 10px;
}
*/


#inputField {
    width: inherit;
    height: 60px;
    text-align: center;
    font-size: 25px;
}
#modalPopup {
    border: 2px solid black;
    background-color: yellow;
    font-size: 30px;
}

footer {
    margin-top: 300px;
    margin-left: 0;
    padding: 20px;
    width: 100%;
}